<form [formGroup]="registrationForm">

 <div>
  <label for="name">Name: </label>
  <input type="text" id="name" formControlName="name">
  <small *ngIf="name?.touched && name?.invalid">Please enter a name!</small>
 </div>

 <!-- <div>
  <label for="id">ID: </label>
  <input type="number" id="id" formControlName="id">
  <small *ngIf="id?.touched && id?.invalid && !id?.errors?.['wrongID']">Please enter an id!</small>
  <small *ngIf="id?.touched && id?.errors?.['wrongID']">Please enter an ID of {{this.actualID}}!</small>
 </div> -->

 <div>
  <label for="role">Role: </label>
  <input type="text" id="role" formControlName="role">
  <small *ngIf="role?.touched && role?.invalid">Please enter a role!</small>
 </div>

 <div>
  <label for="username">Username: </label>
  <input type="text" id="username" formControlName="username">
  <small *ngIf="username?.touched && username?.errors?.['duplicate']">Username already exists!</small>
  <small *ngIf="username?.touched && username?.invalid && !username?.errors?.['duplicate']">Please enter a username!</small>
 </div>

  <div>
  <label for="password">Password: </label>
  <input type="text" id="password" formControlName="password">
  <small *ngIf="password?.touched && password?.invalid">Please enter a password!</small>
 </div>
</form>

<button (click)="goBack()" type="button">Go BACK</button>
<button type="submit" [disabled]="!registrationForm.valid" (click)="onSubmit(registrationForm.value)" routerLink="">Submit</button>
